[Unit]
Description=Prometheus exporter for PostgreSQL metrics
After=network-online.target

[Service]
User=postgres
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=:9187 --extend.query-path=/etc/postgres_exporter/queries.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
